<div>
    <h2 class="text-center py-4">Bienvenido, {{ name }}</h2>
    <div class="text-center">
        <a href="/home">
            <button class="btn btn-primary mx-2">Ver productos</button>
        </a>
        <a href="/home/realTimeProducts">
            <button class="btn btn-primary mx-2">Ver productos en tiempo real</button>
        </a>
    </div>
<div>