<div>
    <h4>Lo sentimos. Tu compra no pudo ser procesada por falta de stock o porque hubo un error en el pago.</h4>
    <br>
    <p>Te pedimos que intentes nuevamente o nos contactes a través de Soporte.</p>
    <br>
    <div class="button">
        <a href="/products"><button class="btn btn-primary">Ver productos</button></a>
    </div>
</div>